@font-face {
    font-family: 'Tr2n';
    src: url('../fonts/Tr2n/Tr2n.eot');
    src: url('../fonts/Tr2n/Tr2n.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tr2n/Tr2n.woff') format('woff'),
         url('../fonts/Tr2n/Tr2n.woff2') format('woff2'),
         url('../fonts/Tr2n/Tr2n.ttf') format('truetype'),
         url('../fonts/Tr2n/Tr2n.svg#TimeBurner') format('svg');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: #0c141f;

    position: relative;

    display: flex;
}

.text {
    margin: 0;

    position: absolute;
    z-index: 999;

    left: 0; right: 0;
    top: 90px;

    font-family: "Tr2n";
    font-weight: 400;
    text-align: center;
    
    opacity: 1;
}

header .name {
    font-size: 150px;

    color: rgb(111,195,223);
    text-shadow: 0 0 10px rgb(111,195,223);
}

header .sub-name {
    top: 235px;
    font-size: 85px;

    color: rgb(223,116,12);
    text-shadow: 0 0 10px rgb(223,116,12);
}

main .hint {
    font-size: 45px;
    top: 550px;

    color: rgb(111,195,223);
    animation: pulse  1.25s infinite ease;
}

#playing_field {
    transform: perspective(708px) rotateX(70deg);
    transition: transform 1.25s; 
}

@keyframes pulse {
    from {text-shadow: 0 0 30px rgb(111,195,223); opacity: 1}
    50% {text-shadow: 0 0 0 rgb(111,195,223); opacity: 0.1;}
    to {text-shadow: 0 0 30px rgb(111,195,223); opacity: 1;}
}