@font-face {
    font-family: 'Tr2n';
    src: url('../fonts/Tr2n/Tr2n.eot');
    src: url('../fonts/Tr2n/Tr2n.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tr2n/Tr2n.woff') format('woff'),
         url('../fonts/Tr2n/Tr2n.woff2') format('woff2'),
         url('../fonts/Tr2n/Tr2n.ttf') format('truetype'),
         url('../fonts/Tr2n/Tr2n.svg#TimeBurner') format('svg');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: #0c141f;
}

